body {
    font-size: 40px;
}

.message {
}

.modification {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 82, 82);
}

.fff {
    background-color: rgb(128, 128, 128);
    width: 50%;
}
.modification1 {
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
}
